@import "tailwindcss";
/* @plugin "daisyui"; */

@theme {
  --color-midnight: #161c26;
  --color-blue: #0088cc;
  --color-white: #fff;
  --color-gray: #667180;

  --breakpoint-xl: 28.125rem;
  --breakpoint-xs: 20rem;
}

img {
  aspect-ratio: attr(width) / attr(height);
}
